* {
    font-family: Lexend, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}
h1{
    margin-left: 10px;
    font-family: Lexend, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}
h2{
    font-size: 35px;
    margin-bottom: 0px;
    text-align: center;
}
body{
    margin: 0px;
    background-color: rgb(197, 224, 255);
}
main{
    margin: 20px;
    display: flow-root;
}
header{
    background-color: cadetblue;
}
hr{
    border: none;
    border-top: 3px solid rgb(141, 164, 185);
}
.foot{
    height: 150px;
}
footer{
    background-color: rgb(101, 163, 255);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
.navbar ul{
    list-style-type: none;
    background-color: rgb(101, 163, 255);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: rgb(36, 36, 36);
    padding: 15px;
    text-align: center;
    display: block;
    text-decoration: none;
    font-weight: bold;

    transition: padding 0.1s ease-out;
}
.navbar a:hover{
    background-color: hsl(221, 69%, 59%);
    padding-left: 25px;
    padding-right: 25px;
}
.navbar li{
    float: left;
}
button{
    padding: 10px;
    font-size: 15px;
    border-radius: 8px;
    background-color: rgb(64, 163, 255);
    border-width: 0px;
    border-color: hsla(0, 0%, 0%, 0.432);
    box-shadow: 0 7px 0 rgb(66, 147, 223);

    transition: all 0.1s ease-out;
}
button a{
    font-weight: 600;
    text-decoration: none;
    color: rgba(36, 36, 36, 0.918);
}
button:hover {
    background-color: rgb(61, 127, 224);
}
button:active {
    transform: translateY(7px);
    box-shadow: 0 0 0;
}
#imgl{
    float: left;
    margin-right: 20px;
}
#imgr{
    float: right;
    margin-left: 20px;
}
#buttonr{
    text-align: right;
}
#buttonl{
    text-align: left;
}
#infol{
    margin: 0 auto;
    width: 900px;
    float: left;
}
#infor{
    margin: 0 auto;
    width: 900px;
    float: right;
}
.title{
    margin-top: 5px;
    width: 300px;
    border-top: 3px solid rgb(56, 56, 56);
}
.title2{
    width: 90%;
}
.soft{
    border: none;
    border-top: 3px solid rgba(79, 94, 133, 0.151);
}
h3{
    margin: 0px;
    font-size: 37;
}
.logo{
    float: left;
    margin: 10px;   
}
.bgimg{
    height: 500px;
    background-image: url(fatsquirrel.jpg);
    background-size: cover;
    background-position: center;
    background-attachment:scroll;
    background-repeat: no-repeat;
    box-shadow: 0px 12px 12px hsla(0, 0%, 17%, 0.418);
}
.bgtext{
    font-weight: 800;
    font-size: 50px;
    color: white;
    margin-left: 20%;
    margin-bottom: 10px;
}
.bgtext2{
    font-weight: 800;
    font-size: 30px;
    color: white;
    margin-left: 300px;
}
hr.nom{
    margin: 0px;
    margin-top: -5px;
}
button.support{
    margin-left: 20%;
    margin-top: 10px;
    padding: 17px;
    border-width: 0px;
    border-radius: 50px;
}
button.support a{
    font-size: 30px;
    font-weight: 700;
}
div.card {
    height: fit-content;
    width: fit-content;
    max-width: 21%;
    background-color: hsl(214, 67%, 78%);
    box-shadow: 0 15px 0 hsla(204, 90%, 24%, 0.274);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    border: 5px solid hsl(214, 67%, 78%);
    justify-content: center;
    overflow: hidden;
    transition: all 0.15s ease-out;
}
div.card img{
    width: 80%;
    margin-left: 10%;
    margin-right: auto;
    margin-top: 10%;
    border-radius: 10px;
}
div.card h1{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    font-weight: 550;
    margin-bottom: 2%;
    max-width: 80%;
}
div.card p{
    margin-top: 0px;
    width: 300;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0;
}
div.card a{
    text-decoration: none;
}
div.card button{
    margin-top: 4%;
    margin-bottom: 7.5%;
    margin-left: 10%;
}
div.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 0 rgb(79, 120, 148);
    border: 5px solid rgb(79, 120, 148);
}
div.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: auto;
    height: fit-content;
    padding: 5%;
}
button.arrow {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-weight: 600;
    font-size: larger;
    background-color: hsla(212, 39%, 49%, 0.753);
    color: hsla(0, 0%, 0%, 0.562);
    scale: 2.5;
    margin: 50px;
}
button.arrow:hover {
    background-color: hsla(212, 39%, 49%, 0.945);
}

div.imgarrows {
    margin-top: -6%;
    display: flex;
    width: 100%;
}

#arrowl {
    margin-left: 5%;
    margin-right: auto;
}

#arrowr {
    margin-right: 5%;
    margin-left: auto;
}

div.sticky{
    position: sticky;
    top: 0px;
    z-index: 999;
}

div.stats {
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 10%;
}

div.statbox {
    display: grid;
    grid-row: 1;
}

h1.stats {
    font-size: 120px;
    margin: auto;
    margin-bottom: 0;
}

p.stats {
    margin: auto;
    margin-top: 0;
    font-size: 50px;
    grid-row: 2;
    font-weight: 500;
}

@media (max-width: 2030px) {
    div.card {
        aspect-ratio: 1/2;
        max-width: 25%;
        max-height: 700px;
    }
}
@media (max-width: 1700px) {
    div.card {
        aspect-ratio: auto;
        max-width: 33%;
        max-height: fit-content;
    }
}

@media (max-width: 1400px) {
    div.stats {
        display: grid;
    } 

    div.statbox {
        display: grid;
        grid-row: auto;
    }
}

@media (max-width: 1000px) {
    div.card {
        display: grid;
        aspect-ratio: auto;
        max-width: 90%;
        max-height: 400px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        gap: 10px;
    }
    div.card img {
        grid-column: 1;
        grid-row: 2;
        height: 200px;
        width: 200px;
        margin: 20px;
        margin-top: 0px;
    }
    div.card h1 {
        float: left;
        grid-column: 1;
        grid-row: 1;
        margin: 20px;
        margin-bottom: 0px;
    }
    div.card p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        height: 190px;
        grid-column: 2;
        grid-row: 2;
        margin: 20px;
        margin-top: 0px;
        margin-left: 0px;
        line-clamp: 6;
        -webkit-line-clamp: 6;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    div.card button {
        grid-column: 1;
        grid-row: 3;
        aspect-ratio: 6/1;
        max-height: 30px;
        margin-top: 0px;
        margin-left: 20px;
    }
    div.cards {
        justify-content: center;
        align-items: center;
        display: block;
        height: fit-content;
    }
}
